*{
    margin: 0;
    padding: 0;   
    font-family: 'Source Sans Pro', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(36, 16, 82, 0.7), rgba(36, 16, 82, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img
{
    width: 300px;
}

.nav-links
{
    flex: 1;
    text-align: right;
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 12px 24px;
    position: relative;
}

.nav-links ul li a
{
    color: rgb(140, 254, 115);
    -webkit-text-stroke-width: 0.2px;

    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #fffffe;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.text-box
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1
{
    font-size: 62px;
}
.text-box p
{
    margin: 5px 0 40px;
    font-size: 16px;
    color: #fff;
}
.btn
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover
{
    border: 1px solid #ffa600;
    background: #ffa600;
    transition: 1s;
}

nav .fa
{
display: none;
}

@media(max-width: 700px)
{
    .text-box h1
{
    font-size: 20px;
}
.nav-links ul li
{
 display: block;
}

.nav-links
{
 position: absolute;
 background: f44336;
 height: 100vh;
 width: 200px;
 top: 0;
 right: 0;
 text-align: left;
 z-index: 2;
}
nav .fa
{
    display: block;
    color: fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
}

/*--------- About me Page */

.sub-header
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(158, 216, 255, 0.7),rgba(255, 81, 0, 0.7)),url(images/background.png); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    justify-content: center;
}

.sub-header-contact
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(158, 216, 255, 0.7),rgba(255, 81, 0, 0.7)),url(images/background2.jpeg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #726e6e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(210, 196, 196);
    text-decoration: none;
    font-size: 25px;
    justify-content: center; 
    list-style-type: none;

}




#content {
    margin-top:  40px;
}

.projectimg {
    position: relative;
    width: 400px;       /* Set the width to 300 pixels */
    height: 400px;      /* Set the height to 300 pixels */
    min-width: 300px;   /* Set the minimum width to 300 pixels */
    min-height: 300px;  /* Set the minimum height to 300 pixels */
    background-image: url(images/project1.png);
    background-repeat: no-repeat;
    background-size: contain; /* Ensure the image fits within the specified dimensions without stretching */
    left: 10%;
    top: 120px; 
    outline: #ffa600;
    outline-width: 10cm;
}